<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">At Submerge, you will dive deeper into:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="Dive deeper into college" src="img/about/1.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">College</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Deciding where to attend college is one of the most important decisions you're going to make.</p>
                                    <p class="text-muted">We would love for every student to consider attending a Bible college; for valuable preparation to further God's Kingdom in a ministry career, or to gain a foundation for future studies.</p>
                                    <p>Come submerge yourself in SLCC's campus to get a taste of what Bible college is all about.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="Dive deeper into city" src="img/about/2.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">City</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>We LOVE our city! And we think you will too.</p>
                                    <p class="text-muted">We will spend a portion of Saturday working on a project in the city with LOVEtheLOU, and learn how they fulfill their mission:</p>
                                    <p>"Where there is nothing we will create.<br />Where there is brokenness we will heal.<br />Where there is good we will join."</p>
                                    <p class="text-muted">Come submerge yourself in the city of St. Louis as we partner with local organization, LOVEtheLOU, founded by 2003 graduate, Lucas Rouggly.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="Dive deeper into Christ" src="img/about/3.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Christ</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>At the center of everything is Christ.</p>
                                    <p class="text-muted">During a time of year when the passion and excitement that was cultivated over summer can easily be overshadowed by the struggles of day-to-day life, we want to help bring your focus back onto Christ.</p>
                                    <p>Come submerge yourself in Christ and be taught, challenged, and used to further His Kindom.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br />us at
                                    <br />Submerge!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
