<section id="details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Details</h2>
                <h3 class="section-subheading text-muted">Here's some logistic information to help you plan your weekend. More details to come.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Schedule</dt>
                            <dd>We'll kick off the weekend with a main session at 7:00 pm Friday and conclude by 5:00 pm on Saturday. Registration will begin at 4:00 pm on Friday.</dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Housing</dt>
                            <dd>We will have a limited amount of on-campus housing, available on a first-come basis. Groups being housed on campus will need to bring bedding and toiletries.</dd>
                            <dd>We will also have a limited amojnt of space at area churches for groups to stay overnight, also available on a first-come basis. Each church will have different accommodations, but groups should not anticipate mattresses/couches/etc. being provided by the church.</dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Hotels</dt>
                            <dd>Quality Inn, Dunn Road (at the intersection of Graham, right next to a Starbucks &amp; Arby's), Florissant, MO</dd>
                            <dd>Comfort Inn &amp; Suites, Douglass Palmer Place (at the intersection of Lindbergh/US-67 &amp; I-270), Hazelwood, MO</dd>
                            <dd>LaQuinta Inn, Taylor Road (at the intersection of Linbergh/US-67 &amp; I-270), Hazelwood, MO</dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Meals</dt>
                            <dd>We will be providing a late-night snack on Friday, but please feed your group dinner before arrival.</dd>
                            <dd>Breakfast and lunch will be provided on Saturday.</dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Transportation</dt>
                            <dd>Transportation will be required for the LOVEtheLOU service project on Saturday. Please plan on transporting your group to and from the service project.</dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Registration</dt>
                            <dd>Registration will open June 1, 2015. The "early bird" pricing of $30 per registration (students &amp; sponsors/leaders) will last through August. In September the cost will be $40 per registration.</dd>
                            <dd>Registration at the door will be $50.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
