<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Facebook Open Graph Information -->
    <meta property="fb:app_id"          content="1559160094301472" />
    <meta property="og:url"             content="https://submergestl.com" />
    <meta property="og:title"           content="Submerge" />
    <meta property="og:type"            content="event" />
    <meta property="event:id"           content="1401530853483209" />
    <meta property="og:image"           content="https://submergestl.com/img/favicon/largetile.png" />
    <meta property="og:site_name"       content="Submerge" />
    <meta property="og:description"     content="An event for high schoolers to submerge into college, city, Christ." />

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- For IE 9 and below. ICO should be 32x32 pixels in size. -->
    <!--[if IE]><link rel="shortcut icon" href="/img/favicon/favicon.ico"><![endif]-->
    
    <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
    <link rel="apple-touch-icon-precomposed" href="/img/favicon/apple-touch-icon-precomposed.png">
    
    <!-- Firefox, Chrome, Safari, IE 11+, and Opera. 196x196 pixels in size. -->
    <link rel="icon" href="/img/favicon/favicon.png">
    
</head>
