<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Register</h2>
                <h3 class="section-subheading text-muted">We can't wait to see you at Submerge! Here's how you can register.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
                <div class="row">
                    <h4 class="section-heading">Step 1. Gather Pertinent Group Information</h4>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dd>Church contact information</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dd>Number (and gender) breakdown of adult sponsor and students</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dd>Payment information to cover registration (debit/credit cards and checks accepted)</dd>
                    </dl>
                </div>
                <div class="row">
                    <h4 class="section-heading">Step 2. Register Online</h4>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Online Registration</dt>
                            <dd>SLCC has partnered with <a target="_blank" href="https://www.eventbrite.com">Eventbrite</a> to make online registration as pain-free for you as possible.</dd>
                            <dd>&nbsp;</dd>
                            <dd><a target="_blank" class="btn btn-xl btn-block" href="https://www.eventbrite.com/e/submerge-this-journey-my-journey-registration-27204801293" role="button">Click here to register online</a></dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Registration Price</dt>
                            <dd><strong>$30</strong> for students and adults</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dd><em>Registrations are non-refundable but can be transferred to different sponsor/students</em></dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Housing</dt>
                            <dd><strong>SLCC housing is available on our campus on a first come/first serve basis</strong>. If you desire SLCC housing, please check the appropriate box when registering. We will house church groups in designated areas based on availability. Due to construction of dorms we are only allowed to house so many. You will be notified of housing arrangements.</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dd>Upon completion of registration, you'll receive an electonric confirmation and an electronic liability release form for each of your attendees to complete.</dd>
                    </dl>
                </div>
                <div class="row">
                    <h4 class="section-heading">Step 3. Complete Forms</h4>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Liability Release Form</dt>
                            <dd>A liability release form MUST be filled out completely by each attendee. Bring these completed forms with you to registration.</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dd><strong><a target="_blank" href="/doc/submerge-release.pdf">Liability Release Form</a></strong></dd>
                    </dl>
                </div>
                <div class="row">
                    <h4 class="section-heading">Step 4. Background Checks</h4>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dd>St. Louis Christian College requires churches to screen their adult leaders for the protection of every student and adult attendee. As such, every adult attending this event must be covered under the following:</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dd><strong><a target="_blank" href="/doc/submerge-background-check.pdf">Background Check Verification Form</a></strong></dd>
                    </dl>
                </div>
                <div class="row">
                    <h4 class="section-heading">Step 5. Additional Information</h4>
                </div>
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>Snack</dt>
                            <dd><strong>A late night snack</strong> will be served after the evening session on Friday. Please plan to feed your group Friday dinner before coming.</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Service Project</dt>
                            <dd>Saturday's service project at <strong>LOVEtheLOU</strong> will involve outside work. Communicate with your group the need to wear clothes that can get dirty.</dd>
                    </dl>
                    <dl class="dl-horizontal">
                            <dd>Modest dress is required.</dd>
                    </dl>
                </div>
                <div class="row">
                    <p><em>Have some additional questions needing answered? You can <strong><a target="_blank" href="mailto:lbuttone@stlchristian.edu">email us</a></strong> or you're always free to call us at <strong>800-887-SLCC (7522)</strong></em></p>
                </div>
                <div class="row">
                    <p><a target="_blank" class="btn btn-xl btn-block" href="https://submergestl.eventbrite.com" role="button">Click here to register online</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
