{% include css/bootstrap.min.css %}
{% include css/agency.css %}

.mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
}

.share-group {
    float: right;
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.btn-share {
    background-color: #{{ site.color.primary }};
    border-color: #CCCCCC;
    color: #{{ site.color.primary }};
}

.btn-twitter {
    background-color: #3399CC !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-google {
    background-color: #DD3F34 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-linkedin {
    background-color: #1884BB !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-pinterest {
    background-color: #CC1E2D !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-mail {
    background-color: #FFC90E !important;
    width: 51px;
    color:#FFFFFF!important;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}

#social-share {
    margin-top: 12px;
    margin-bottom: 18px;
}

#social-share > a{
    padding: 6px 10px 6px 10px;
}

@media (max-width : 320px) {
    #social-holder{
        padding-left:5px;
        padding-right:5px;
    }
    
    #social-share{
        margin-left:5px;
        margin-right:5px;
    }
}

.share-group .btn {
    padding: 6px 15px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: inherit;
    }
}

.share-group .btn-info {
    background-color: #{{ site.color.primary }};
}

.share-group .btn-info:hover,
.share-group .btn-info:active {
    background-color: #{{ site.color.secondary }};
}
